.cart-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: none;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9);

    // .cart-modal__window

    &__window {
        position: fixed;
        left: 50%;
        top: 50%;
        z-index: 100;
        margin: 0 auto;
        border: 1px solid #c7c7c7;
        padding: 30px 40px;
        width: 600px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
        background-color: $white;
        transform: translate(-50%, -50%);
    }

    // .cart-modal__close-btn

    &__close-btn {
        display: block;
        margin-bottom: 30px;
        margin-left: auto;
        border: none;
        color: $text;
        background-color: transparent;
        transition: $transition;
        cursor: pointer;

        @media (min-width: $bp-no_hover) {
            &:hover {
                color: $secondary;
            }
        }
    }

    // .cart-modal__title

    &__title {
        margin-bottom: 50px;
        text-align: center;
    }

    // .cart-modal__input

    &__input {
        display: block;
        margin-bottom: 20px;
        outline: none;
        border: none;
        border-bottom: 1px solid $border;
        padding: 10px 10px 10px 0;
        width: 100%;

        &:focus {
            border-bottom: 1px solid $secondary;
        }
    }

    // .cart-modal__checkbox

    &__checkbox:checked+.cart-modal__label::after {
        display: block;
    }

    &__checkbox:checked+.cart-modal__label::before {
        border-color: $secondary;
    }

    // .cart-modal__label

    &__label {
        position: relative;
        display: block;
        margin-bottom: 30px;
        padding-left: 20px;
        user-select: none;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 2px;
            border: 1px solid $text;
            border-radius: 2px;
            width: 12px;
            height: 12px;
            cursor: pointer;
        }

        &::after {
            content: "";
            position: absolute;
            left: 2px;
            top: 5px;
            display: none;
            border-bottom: 1px solid $text;
            border-left: 1px solid $text;
            width: 8px;
            height: 4px;
            transform: rotate(-45deg);
        }
    }

    // .cart-modal__link

    &__link {
        text-decoration: underline;
    }

    // .cart-modal__button

    &__button {
        display: block;
        margin: 0 auto;
    }
}

.cart-modal-finish {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: none;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9);

    &__window {
        position: fixed;
        left: 50%;
        top: 50%;
        z-index: 100;
        margin: 0 auto;
        border: 1px solid #c7c7c7;
        padding: 30px 40px;
        width: 600px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
        background-color: $white;
        transform: translate(-50%, -50%);
    }

    &__text-lg {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 24px;
        line-height: 40px / 24px * 100%;

        @media (max-width: $bp-2) {
            font-size: 18px;
        }
    }

    // .cart-modal-finish__text-md

    &__text-md {
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px / 18px * 100%;

        @media (max-width: $bp-2) {
            font-size: 14px;
        }
    }

    // .cart-modal-finish__text-sm

    &__text-sm {
        font-size: 14px;
        line-height: 20px / 14px * 100%;

        @media (max-width: $bp-2) {
            font-size: 12px;
        }
    }

    // .cart-modal-finish__close-btn

    &__close-btn {
        margin-bottom: 20px;
    }
}

.opened {
    display: flex;
    justify-content: center;
}
