.info-about {
    margin-bottom: 15px;

    // .info-about__title

    &__title {
        margin: 40px 0;
    }

    // .info-about__wrapper

    &__wrapper {
        p {
            margin-bottom: 25px;
            font-weight: 300;
            line-height: 24px / 14px * 100%;
        }
    }
}
