// --- COLORS ---
$white: #fff;
$black: #000;
$text: #535353;
$header-bg: #0c0537;
$primary: #3d4f64;
$secondary: #ffc94f;
$icon: #f3a800;
$light: #efefef;
$text-hover: lighten(#535353, 20%);
$bg: #fcfcfc;
$breadcrumbs: #7c7c7c;
$border: #e5e5e5;

// --- WIDTH ---

$maxWidthContainer: 1340px;
$bp-1: $maxWidthContainer+10px;
$bp-2: 991px;
$bp-3: 767px;
$bp-4: 639px;
$bp-no_hover: 768px;

// --- OTHER ---

$transition: 0.2s;
$transition-slow: 0.5s;
