.banner-main {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 60px;
    padding-bottom: 30px;
    width: 100%;

    // .banner-main__slider-toggles

    &__slider-toggles {
        display: flex;
        flex-basis: 300px;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 0 20px;
        min-width: 30px;

        @media (max-width: $bp-1) {
            display: none;
        }
    }

    // .banner-main__slider-toggle

    &__slider-toggle {
        border-radius: 5px;
        width: 32px;
        height: 27px;
        cursor: pointer;

        // .banner-main__slider-toggle--prev

        &--prev {
            margin-bottom: 10px;
            background: $primary url("../img/icons/arrow-prev.svg") center no-repeat;
        }

        // .banner-main__slider-toggle--next

        &--next {
            border-color: #ededed;
            background: $white url("../img/icons/arrow-next.svg") center no-repeat;
        }
    }

    // .banner-main__slider

    &__slider {
        width: 969px;

        @media (max-width: $bp-1) {
            margin-bottom: 50px;
        }

        @media (max-width: $bp-2) {
            width: 582px;
        }

        @media (max-width: $bp-4) {
            width: 340px;
        }
    }

    @media (max-width: $bp-1) {
        flex-wrap: wrap;
        justify-content: center;
    }

    @media (max-width: $bp-3) {
        margin-bottom: 40px;
    }
}

.info-banner-main {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding-left: 25px;
        max-width: 500px;

        @media (max-width: $bp-1) {
            padding: 0 30px;
            max-width: 800px;
        }

        @media (max-width: $bp-2) {
            max-width: 582px;
        }
    }

    // .info-banner-main__title

    &__title {
        margin-bottom: 20px;
        font-weight: 900;
        font-size: 36px;
        line-height: 40px / 36px * 100%;

        span {
            color: $secondary;
        }

        @media (max-width: $bp-3) {
            font-size: 24px;
        }
    }

    // .info-banner-main__subtitle

    &__subtitle {
        margin-bottom: 20px;
        padding-right: 45px;
        line-height: 22px / 14px * 100%;

        @media (max-width: $bp-2) {
            padding-right: 0;
        }
    }

    // .info-banner-main__button

    &__button {
        align-self: flex-start;
    }

    @media (max-width: $bp-1) {
        justify-content: center;
        order: 3;
        width: 100%;
    }
}
