.downloads-main {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    &::before {
        content: "";
        position: absolute;
        left: -15px;
        top: -42px;
        z-index: -1;
        width: 133px;
        height: 133px;
        background: url("../../img/pages.png") center/contain no-repeat;

        @media (max-width: $bp-3) {
            display: none;
        }
    }

    // .downloads-main__title

    &__title {
        margin-right: 55px;
        padding-top: 20px;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px / 20px * 100%;

        @media (max-width: $bp-2) {
            margin-right: 10px;
            width: 20%;
        }

        @media (max-width: $bp-3) {
            margin-right: 0;
            margin-bottom: 20px;
            width: 100%;
            font-size: 18px;
        }
    }

    // .downloads-main__content-wrapper

    &__content-wrapper {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        overflow-y: scroll;
        padding-right: 20px;
        height: 120px;

        &::-webkit-scrollbar {
            width: 2px;
            background-color: $light;
        }

        &::-webkit-scrollbar-thumb {
            box-shadow: inset 1px 1px 10px $secondary;
            background-color: $secondary;
        }
    }

    // .downloads-main__row

    &__row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $light;
        padding-top: 10px;

        @media (max-width: $bp-3) {
            border-bottom: none;
            padding-top: 15px;
        }
    }

    // .downloads-main__file-name

    &__file-name {
        font-weight: 500;
        line-height: 24px / 14px * 100%;
    }

    // .downloads-main__view

    &__view {
        margin-right: 20px;
        margin-left: auto;
        font-weight: 700;
        line-height: 30px / 14px * 100%;
        transition: $transition;

        @media (min-width: $bp-no_hover) {
            &:hover {
                color: $secondary;
            }
        }

        @media (max-width: $bp-4) {
            display: none;
        }
    }

    // .downloads-main__download

    &__download {
        position: relative;
        padding-right: 42px;
        font-weight: 700;
        line-height: 30px / 14px * 100%;
        background: url("../../img/icons/download.svg") no-repeat;
        background-position: 75px -2px;
        transition: $transition;

        @media (min-width: $bp-no_hover) {
            &:hover {
                color: $secondary;
            }
        }

        @media (max-width: $bp-4) {
            width: 21px;
            height: 21px;
            background-position: center;

            span {
                font-size: 0;
            }
        }
    }

    // .downloads-main__blur

    &__blur {
        content: "";
        position: absolute;
        right: 40px;
        bottom: 0;
        width: 80%;
        height: 50px;
        background-color: $white;
        opacity: 0.7;

        &--remove {
            display: none;
        }

        @media (max-width: $bp-3) {
            display: none;
        }
    }

    @media (max-width: $bp-3) {
        flex-direction: column;
    }
}
