.catalog {
    margin-bottom: 50px;

    // .catalog__title

    &__title {
        margin: 40px 0;
    }

    // .catalog__buttons-wrapper

    &__buttons-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 45px;

        &::-webkit-scrollbar {
            display: none;
        }

        @media (max-width: $bp-4) {
            flex-wrap: nowrap;
            overflow-x: scroll;
        }
    }

    // .catalog__button

    &__button {
        margin-bottom: 10px;
        border: 1px solid $border;
        border-radius: 2px;
        padding: 10px 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px / 14px * 100%;
        white-space: nowrap;
        background-color: $white;
        transition: $transition;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 10px;
        }

        @media (min-width: $bp-no_hover) {
            &:hover {
                border: 1px solid $primary;
            }
        }
    }

    .mixitup-control-active {
        border: none;
        color: $white;
        background-color: $primary;
    }

    // .catalog__content-wrapper

    &__content-wrapper {
        display: flex;

        @media (max-width: $bp-2) {
            flex-direction: column;
        }
    }

    // .catalog__filter

    &__filter {
        align-self: flex-start;
        margin-right: 20px;

        @media (max-width: $bp-2) {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }

    // .catalog__items-wrapper

    &__items-wrapper {
        flex-grow: 1;
    }

    // .catalog__cards

    &__cards {
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;

        @media (max-width: $bp-1) {
            grid-column-gap: 15px;
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: $bp-2) {
            grid-column-gap: 100px;
        }

        @media (max-width: $bp-3) {
            grid-column-gap: 40px;
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media (max-width: $bp-4) {
            justify-self: center;
            grid-column-gap: 10px;
            grid-template-columns: 1fr 1fr;
        }
    }

    // .catalog__item

    &__item {
        margin: 0 auto 23px;
        transition: 0s;
    }

    // .catalog__pages

    &__pages {
        text-align: center;
    }

    // .catalog__pages-list

    &__pages-list {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 170px;
    }

    // .catalog__page-button

    &__page-button {
        border: 1px solid $border;
        border-radius: 2px;
        width: 24px;
        height: 24px;
        font-size: 12px;
        color: $text;
        background-color: $white;
        cursor: pointer;

        @media (min-width: $bp-no_hover) {
            &:hover {
                border: 1px solid $primary;
            }
        }
    }

    // .catalog__page-button--active

    &__page-button--active {
        font-weight: 700;
        background-color: $secondary;
    }

    &__page-button--disabled {
        pointer-events: none;
    }

    &__icon--prev {
        opacity: 0.3;
        transform: rotate(180deg);
    }
}
