.filter-catalog {
    border: 1px solid #eaeaea;
    padding: 25px;
    width: 302px;
    background-color: $white;

    // .filter-catalog__title-wrapper

    &__title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    // .filter-catalog__title

    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 40px / 16px * 100%;
    }

    // .filter-catalog__title-button

    &__title-button {
        border: none;
        width: 13px;
        height: 13px;
        background: url("../img/icons/filter.svg") center/cover no-repeat;
        background-color: transparent;
        cursor: pointer;
    }

    // .filter-catalog__sliders

    &__sliders {
        margin-bottom: 60px;

        @media (min-width: $bp-4) and (max-width: $bp-2) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 30px;
        }
    }

    // .filter-catalog__slide-name

    &__slide-name {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 40px / 14px * 100%;
    }

    // .filter-catalog__minmax

    &__minmax {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

        @media (min-width: $bp-4) and (max-width: $bp-2) {
            width: 230px;
        }
    }

    // .filter-catalog__slider

    &__slider {
        margin-bottom: 40px;
        border: none;
        height: 2px;

        @media (min-width: $bp-4) and (max-width: $bp-2) {
            width: 230px;
        }
    }

    // .filter-catalog__buttons-wrapper

    &__buttons-wrapper {
        display: flex;
        justify-content: space-between;

        @media (min-width: $bp-4) and (max-width: $bp-2) {
            margin-left: auto;
            width: 255px;
        }
    }

    // .filter-catalog__btn

    &__btn {
        padding: 10px;
        width: 117px;
    }

    @media (max-width: $bp-2) {
        width: 100%;
    }

    @media (max-width: $bp-3) {
        padding: 15px;
    }
}

// noUiSlider

.noUi-connect {
    background: $secondary;
}

.noUi-horizontal .noUi-handle {
    right: -12px;
    border: none;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    box-shadow: none;
    background-color: $secondary;
    cursor: pointer;

    &::before,
    &::after {
        opacity: 0;
    }
}

.noUi-horizontal .noUi-tooltip {
    bottom: -30px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: inset $text 0 0 1px;
    background-color: $secondary;
}
