.footer {
    font-weight: 500;
    color: $white;
    background-color: $primary;

    // .footer__wrapper

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 40px;

        @media (max-width: $bp-2) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    // .footer__column

    &__column {
        width: 25%;

        &:not(:last-child) {
            padding-right: 10px;

            @media (max-width: $bp-4) {
                padding-right: 0;
            }
        }

        @media (max-width: $bp-2) {
            &--logo {
                width: 100%;
            }

            &--catalog {
                width: 50%;
            }

            &--order {
                width: 45%;
                font-size: 12px;
            }

            &--contacts {
                margin-top: 15px;
                width: 100%;
            }
        }
    }

    // .footer__logo

    &__logo {
        display: block;
        margin-bottom: 25px;
    }

    // .footer__copyright

    &__copyright {
        font-size: 11px;

        @media (max-width: $bp-2) {
            margin: 0 auto;
        }
    }

    // .footer__title

    &__title {
        margin-bottom: 10px;
        font-weight: 600;
        line-height: 30 / 14 * 100%;
    }

    // .footer__catalog-list

    &__catalog-list {
        font-weight: 400;
        font-size: 12px;
        line-height: 24 / 12 * 100%;
    }

    // .footer__catalog-item

    &__catalog-item {
        a {
            transition: $transition;

            @media (min-width: $bp-no_hover) {
                &:hover {
                    text-decoration: underline;
                    color: $secondary;
                }
            }
        }
    }

    // .footer__order-list

    &__order-list {
        font-weight: 600;
        line-height: 30 / 14 * 100%;
    }

    // .footer__order-item

    &__order-item {
        transition: $transition;

        @media (min-width: 768px) {
            &:hover {
                color: $secondary;
            }
        }
    }

    // .footer__contacts-list

    &__contacts-list {
        font-weight: 400;
        line-height: 30 / 12 * 100%;

        @media (max-width: $bp-2) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 15px;
            border-bottom: 1px solid $white;
            padding-bottom: 15px;
        }

        @media (max-width: $bp-4) {
            justify-content: center;
        }
    }

    // .footer__contacts-item

    &__contacts-item {
        margin-bottom: 5px;

        a {
            display: flex;
            align-items: center;
        }

        @media (max-width: $bp-4) {
            width: 50%;

            &--phone a {
                justify-content: flex-end;
            }

            &--email a {
                justify-content: center;
            }
        }
    }

    // .footer__contacts-icon

    &__contacts-icon {
        display: inline-block;
        margin: 0 10px 0 0;
        font-size: 20px;
        color: $icon;
    }
}
